<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mis Órdenes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mis Órdenes</ion-title>
    </ion-toolbar>
  </ion-header>


  <div *ngIf="isLoading" class="ion-text-center ion-padding">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando órdenes...</p>
  </div>


  <div *ngIf="errorMessage && !isLoading" class="ion-padding ion-text-center">
    <ion-text color="danger">{{ errorMessage }}</ion-text>
    <ion-button fill="clear" (click)="loadOrders()">Reintentar</ion-button>
  </div>


  <div *ngIf="!isLoading && !errorMessage">
    <div *ngIf="orders.length === 0" class="ion-padding ion-text-center">
      <p>Aún no tienes órdenes creadas.</p>
    </div>


    <app-card *ngFor="let order of orders" [cardTitle]="'Orden #' + order.id.substring(0, 8) + '...'"
      [cardSubtitle]="'Estado: ' + order.status + ' - Creada: ' + (order.createdAt | date:'short')"
      [content]="'Items: ' + order.items.length + ' - Total: ' + (order.total | currency:'USD':'symbol':'1.2-2')">


    </app-card>
  </div>

  <!-- Botón flotante para crear nueva orden -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
